@font-face {
    font-family: font-insta;
    src: url('fonts/Inter-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    font-family: font-insta;
}

html{
    display: flex;
    justify-content: center;
}

body{
    width: 470px;
    height: 930px;
    border: 1px solid black;
}

header{
    width: 470px;
    height: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    width: 429px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.user p{
    font-weight: bold;
    font-size: 26px;
}

.user i{
    font-size: 13px;
}

.icons i{
    font-size: 26px;
    margin-left: 20px;
}

#infop{
    width: 430px;
    height: 130px;
    margin: 0 20px;
    display: flex;
    align-items: center;
}

#picp{
    width: 104px;
    height: 104px;
    border-radius: 50%;
    position: relative;
}

#stories{
    background-color: #1A75FF;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
}

#figure{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#stts{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 20px;
    width: 265px;
    height: 40px;
}

.nprofile{
    display: flex;
    font-size: 15px;
    font-weight: bold;
}

.infos{
    display: flex;
    font-size: 15px;
}

.nprofile p{
    display: flex;
    justify-content: center;
}

.nprofile p:first-child{
    width: 130px;
}

.nprofile p:nth-child(2){
    width: 70px;
}

.nprofile p:nth-child(3){
    width: 110px;
}

.infos p{
    margin-left: 20px;
}

#perfil p{
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
}

#bperfil{
    margin-top: 20px;
    width: 434px;
    height: 40px;
    display: flex;
    margin-left: 10px;
}

.buttonp{
    width: 190px;
    height: 40px;
    border-radius: 10px;
    background-color: #d9d9d9;
    border: none;
    margin-left: 10px;
    font-weight: bold;
}

#sug{
    width: 40px;
    height: 40px;
    background-color: #d9d9d9;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
}

#destaque{
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
}

#destaque figure figcaption{
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.destaques{
    width: 78px;
    height: 78px;
    border-radius: 50%;
    border: 2px solid #d9d9d9;
    padding: 1px;
    margin-left: 10px;
}

.picfeed{
    width: 155px;
    height: 155px;
}

#feed{
    margin-top: 10px;
    font-size: 24px;
    display: grid;
    grid-template-rows: repeat(2, auto);
    position: relative;
}

#bfeed{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

#picsfeed{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 2px;
    z-index: 1;
}

footer{
    position: absolute;
    width: 470px;
    height: 68px;
    z-index: 2;
    bottom: -40px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#pfooter{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}